  <h1>Task list</h1>
  <%= link_to "Create task", new_task_path, class: 'btn btn-success' %>
  <table class="table">
    <thead>
      <th>Title</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Status</th>
      <th>Locate</th>
      <th>priority</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
    <% @tasks.each do |t| %>
      <tr>
      <td>
        <%= link_to task_path(t.id) do %>
          <%= t.title %>
        <% end %>
      </td>
      <td><%= t.start_at %></td>
      <td><%= t.end_at %></td>
      <td><%= t.status %></td>
      <td><%= t.position %></td>
      <td><%= t.priority %></td>
      <td><%= link_to "edit", edit_task_path(t.id), class: 'btn btn-warning' %></td>
      <td><%= link_to "delete", tasks_path(t.id), class: 'btn btn-danger', method: 'delete', data: { confirm: 'Are you sure to delete this task?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    