  <h1>Task list <%= link_to "Create task", new_task_path, class: 'btn btn-success' %></h1>
  
  <table class="table">
    <thead>
      <th>Title</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Status</th>
      <th>Locate</th>
      <th>priority</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
      <tr>
      <td>
        <%= link_to task.title, task_path(task) %>
      </td>
      <td><%= task.start_at %></td>
      <td><%= task.end_at %></td>
      <td><%= task.status %></td>
      <td><%= task.position %></td>
      <td><%= task.priority %></td>
      <td><%= link_to "edit", edit_task_path(task.id), class: 'btn btn-warning' %></td>
      <td><%= link_to "delete", task_path(task.id), class: 'btn btn-danger', method: 'delete', data: { confirm: 'Are you sure to delete this task?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    