<h1 class="col-lg-6"><%= @task.title %></h1>
<ul class="user-profile col-lg-6">
  <li>Description : </li>
    <p><%= @task.description %></p>
  <li>All day : </li>
    <p><%= @task.all_day %></p>
  <li>Created at : </li>
    <p><%= @task.created_at %></p>
  <li>End at : </li>
    <p><%= @task.end_at %></p>
  <li>Status : </li>
    <p><%= @task.status %></p>
  <li>Priority : </li>
    <p><%= @task.priority %></p>
  <li>Location : </li>
    <p>
      <%= link_to "https://www.google.com.tw/maps/place/#{@task.location}" do %>
        <%= @task.location %>
        <i class="fas fa-link"></i>
      <% end %>
    </p>
  <li>URL : </li>
    <p>
      <%= link_to @task.url do %>
        <%= @task.url %>
        <i class="fas fa-link"></i>
      <% end %>
    </p>
<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>