<h1><%= @task.title %></h1>
<ul class="user-profile col-lg-6">
  <li>Description : </li>
    <p><%= @task.description %></p>
  <li>All day : </li>
    <p><%= @task.all_day %></p>
  <li>Start at : </li>
    <p><%= @task.start_at %></p>
  <li>End at : </li>
    <p><%= @task.end_at %></p>
  <li>Status : </li>
    <p><%= @task.status %></p>
  <li>Priority : </li>
    <p><%= @task.priority %></p>
  <li>Location : </li>
    <p><%= @task.position %></p>
  <li>URL : </li>
    <p><%= link_to @task.url, @task.url %></p>
</div>
<div class="container">
<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
</div>
