<!DOCTYPE html>
<html>
  <head>
    <title>Task Management</title>
    <%= favicon_link_tag asset_path('cat.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'shared/frontend/flash' if danger %>
    <%= render partial: 'shared/frontend/flash' if info %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
